In [1]:
import pandas as pd

In [41]:
bom_movie = pd.read_csv("./data/bom.movie_gross.csv")

name_basic = pd.read_csv("./data/name.basics.csv") #nconst, primary profession, primary name
title_basic = pd.read_csv("./data/title.basics.csv") #use, start_year, tconst, title
title_crew = pd.read_csv("./data/title.crew.csv") #tconst, director, writer
title_principals = pd.read_csv("./data/title.principals.csv") #category actor, characters
tittle_ratings = pd.read_csv("./data/title.ratings.csv") #use this for ratings, tconst
title_akas = pd.read_csv("./data/title.akas.csv") #useless

movie_info_tsv = pd.read_csv("./data/rt.movie_info.tsv", sep = "\t") #use this, theater_date and release_data
rt_reviews = pd.read_csv("./data/rt.reviews.tsv", sep = "\t", encoding='windows-1252') #ratings, maybe use this merge

tmbd_movies = pd.read_csv("./data/tmdb.movies.csv") #yes, release date

movie_budgets = pd.read_csv("./data/tn.movie_budgets.csv") #need, release_data, gross, budget

In [99]:
x = title_basic.merge(tittle_ratings, on="tconst")

In [101]:
x = x.rename(columns={"primary_title":"movie"})

In [107]:
title_crew = title_crew.rename(columns={"directors":"nconst"})

In [108]:
name_director = title_crew.merge(name_basic, on="nconst")

In [109]:
name_director

,tconst,nconst,writers,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,tt0285252,nm0899854,nm0899854,Tony Vitale,1964.0,NaN,"producer,director,writer","tt0285252,tt0106489,tt0119465,tt0359774"
1,tt0462036,nm1940585,nm1940585,Bill Haley,NaN,NaN,"director,writer,producer","tt0462036,tt6740510"
2,tt0835418,nm0151540,"nm0310087,nm0841532",Jay Chandrasekhar,1968.0,NaN,"director,actor,writer","tt0144557,tt0486551,tt0331953,tt0247745"
3,tt0859635,nm0151540,"nm0151540,nm0373571,nm0501399,nm0815418,nm0831479",Jay Chandrasekhar,1968.0,NaN,"director,actor,writer","tt0144557,tt0486551,tt0331953,tt0247745"
4,tt0879859,nm2416460,NaN,Eric Manchester,NaN,NaN,"director,writer","tt0879861,tt0879859"
...,...,...,...,...,...,...,...,...
124684,tt8996424,nm7477810,NaN,Nick Sandoval,NaN,NaN,"camera_department,assistant_director,director","tt6440142,tt4801080,tt5516346,tt5637208"
124685,tt8998302,nm10121510,nm10121510,Daryl Boman,NaN,NaN,"producer,director,writer",NaN
124686,tt8999892,nm10122247,"nm10122247,nm10122246",C. Damon Adcock,NaN,NaN,NaN,NaN
124687,tt8999974,nm10122357,nm10122357,Daysi Burbano,NaN,NaN,"director,writer,cinematographer",NaN
124688,tt9001390,nm6711477,nm6711477,Bernard Lessa,NaN,NaN,"director,writer,cinematographer","tt3966444,tt6860362,tt4020976"

In [111]:
imdb_df = x.merge(name_director, on="tconst")

In [114]:
full_df = movie_budgets.merge(imdb_df, on="movie")

In [117]:
df = imdb_df.merge(movie_budgets, on="movie")

In [118]:
df

,tconst,movie,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,nconst,writers,primary_name,birth_year,death_year,primary_profession,known_for_titles,id,release_date,production_budget,domestic_gross,worldwide_gross
0,tt0249516,Foodfight!,Foodfight!,2012,91.0,"Action,Animation,Comedy",1.9,8248,nm0440415,"nm0440415,nm0923312,nm0295165,nm0841854,nm0220297",Lawrence Kasanoff,1959.0,NaN,"producer,writer,director","tt0119707,tt1587414,tt0113855,tt0111503",26,"Dec 31, 2012","$45,000,000",$0,"$73,706"
1,tt0326592,The Overnight,The Overnight,2010,88.0,NaN,7.5,24,nm1208371,"nm1170333,nm1208371",Jed I. Goodman,NaN,NaN,"camera_department,writer,producer","tt0326592,tt2384643,tt1225630,tt0108304",21,"Jun 19, 2015","$200,000","$1,109,808","$1,165,996"
2,tt3844362,The Overnight,The Overnight,2015,79.0,"Comedy,Mystery",6.1,14828,nm2674307,nm2674307,Patrick Brice,NaN,NaN,"director,writer,actor","tt3654796,tt2428170,tt3844362,tt1862079",21,"Jun 19, 2015","$200,000","$1,109,808","$1,165,996"
3,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,nm0758574,"nm0449616,nm1433580",Walter Salles,1956.0,NaN,"director,producer,writer","tt0318462,tt0291003,tt0114651,tt0140888",17,"Mar 22, 2013","$25,000,000","$720,828","$9,313,302"
4,tt4339118,On the Road,On the Road,2014,89.0,Drama,6.0,6,nm7042169,NaN,Poong-ki Kim,NaN,NaN,director,tt4339118,17,"Mar 22, 2013","$25,000,000","$720,828","$9,313,302"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609,tt8662424,Never Again,Never Again,2017,106.0,Drama,5.7,67,nm9708167,nm9708167,Jay Coster,NaN,NaN,"director,writer,producer","tt8159942,tt8662424,tt8660434",47,"Jul 12, 2002","$500,000","$307,631","$308,793"
2610,tt8976472,Never Again,Ei koskaan enää,2018,69.0,"Documentary,Music",6.6,27,nm2791866,"nm3807692,nm2791866",Aino Suni,NaN,NaN,"assistant_director,director,writer","tt1754508,tt1972766,tt4572674,tt5578008",47,"Jul 12, 2002","$500,000","$307,631","$308,793"
2611,tt8824064,Heroes,Heroes,2019,88.0,Documentary,7.3,7,nm5287293,NaN,Köken Ergun,1976.0,NaN,"director,producer,editor","tt2406896,tt2719064",12,"Oct 24, 2008","$400,000","$655,538","$655,538"
2612,tt8976772,Push,Push,2019,92.0,Documentary,7.3,33,nm0314995,NaN,Fredrik Gertten,1956.0,NaN,"producer,director,writer","tt5280626,tt2090463,tt8976772,tt1452291",70,"Feb 6, 2009","$38,000,000","$31,811,527","$49,678,401"
2613,tt9248762,The Terrorist,The Terrorist,2018,NaN,Thriller,6.0,6,nm10244758,NaN,P.C. Shekar,NaN,NaN,NaN,NaN,48,"Jan 14, 2000","$25,000","$195,043","$195,043"

In [116]:
full_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,tconst,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,nconst,writers,primary_name,birth_year,death_year,primary_profession,known_for_titles
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",tt1775309,Abatâ,2011,93.0,Horror,6.1,43,nm3786927,"nm2179863,nm4392664",Atsushi Wada,NaN,NaN,director,"tt1594549,tt1775309,tt1602612"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,136.0,"Action,Adventure,Fantasy",6.6,447624,nm0551128,"nm0254645,nm0744429,nm0064181,nm0938684,nm0694627",Rob Marshall,1960.0,NaN,"director,miscellaneous,producer","tt2180411,tt0299658,tt0875034,tt5028340"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",tt6565702,Dark Phoenix,2019,113.0,"Action,Adventure,Sci-Fi",6.0,24451,nm1334526,"nm0126208,nm1079208,nm1079211,nm1334526,nm0456...",Simon Kinberg,1973.0,NaN,"producer,writer,director","tt1502712,tt3315342,tt1877832,tt3659388"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",tt2395427,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi",7.3,665594,nm0923736,"nm0923736,nm0498278,nm0456158,nm0800209,nm4160687",Joss Whedon,1964.0,NaN,"writer,producer,director","tt0118276,tt0162065,tt0848228,tt1259521"
4,9,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209",tt0974015,Justice League,2017,120.0,"Action,Adventure,Fantasy",6.5,329135,nm0811583,"nm0796950,nm0795975,nm0006516,nm0811583,nm0923...",Zack Snyder,1966.0,NaN,"producer,director,writer","tt0770828,tt0451279,tt0409459,tt0416449"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2609,59,"Nov 25, 2011",The Ridges,"$17,300",$0,$0,tt1781935,The Ridges,2011,89.0,"Drama,Horror,Thriller",2.9,127,nm4192760,nm4192760,Brandon Landers,NaN,NaN,"actor,sound_department,art_department","tt1781935,tt1862079,tt1712170,tt1721691"
2610,62,"Dec 31, 2014",Stories of Our Lives,"$15,000",$0,$0,tt3973612,Stories of Our Lives,2014,60.0,Drama,7.5,85,nm5874888,"nm5874888,nm6791798",Jim Chuchu,NaN,NaN,"director,writer,editor","tt5978462,tt4429758,tt3328782,tt3973612"
2611,68,"Jul 6, 2001",Cure,"$10,000","$94,596","$94,596",tt1872026,Cure,2011,93.0,Drama,4.9,11,nm0948107,NaN,Bill Yip,NaN,NaN,"assistant_director,producer,actor","tt1872026,tt0106991,tt0120802,tt0185650"
2612,73,"Jan 13, 2012",Newlyweds,"$9,000","$4,584","$4,584",tt1880418,Newlyweds,2011,95.0,"Comedy,Drama",6.4,1436,nm0122653,nm0122653,Edward Burns,1968.0,NaN,"actor,writer,producer","tt0117628,tt0491109,tt0120815,tt0112585"
2613,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0,tt7837402,Red 11,2019,77.0,"Horror,Sci-Fi,Thriller",5.6,43,nm0001675,"nm1897406,nm0001675",Robert Rodriguez,1968.0,NaN,"producer,writer,director","tt1077258,tt0104815,tt0287717,tt0458481"

In [119]:
movie_budgets.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"

In [121]:
title_basic = title_basic.rename(columns={'primary_title':"movie"})

In [122]:
all_movies_df = movie_budgets.merge(title_basic, on="movie")

In [123]:
all_movies_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,tconst,original_title,start_year,runtime_minutes,genres
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",tt1775309,Abatâ,2011,93.0,Horror
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",tt1298650,Pirates of the Caribbean: On Stranger Tides,2011,136.0,"Action,Adventure,Fantasy"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",tt6565702,Dark Phoenix,2019,113.0,"Action,Adventure,Sci-Fi"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",tt2395427,Avengers: Age of Ultron,2015,141.0,"Action,Adventure,Sci-Fi"
4,7,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",tt4154756,Avengers: Infinity War,2018,149.0,"Action,Adventure,Sci-Fi"
...,...,...,...,...,...,...,...,...,...,...,...
3810,68,"Jul 6, 2001",Cure,"$10,000","$94,596","$94,596",tt5936960,Cure,2014,NaN,NaN
3811,70,"Apr 1, 1996",Bang,"$10,000",$527,$527,tt6616538,Bang,2015,NaN,NaN
3812,73,"Jan 13, 2012",Newlyweds,"$9,000","$4,584","$4,584",tt1880418,Newlyweds,2011,95.0,"Comedy,Drama"
3813,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0,tt7837402,Red 11,2019,77.0,"Horror,Sci-Fi,Thriller"
3814,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0,tt2107644,A Plague So Pleasant,2013,76.0,"Drama,Horror,Thriller"

In [4]:
Studio_empty = bom_movie[bom_movie["studio"].isna()]
Studio_empty

                              title studio  domestic_gross foreign_gross  year
210   Outside the Law (Hors-la-loi)    NaN         96900.0       3300000  2010
555         Fireflies in the Garden    NaN         70600.0       3300000  2011
933           Keith Lemon: The Film    NaN             NaN       4000000  2012
1862                 Plot for Peace    NaN          7100.0           NaN  2014
2825               Secret Superstar    NaN             NaN     122000000  2017

In [ ]:
#Doesnt matter if we dont know studio

In [5]:
gross_domestic_empty = bom_movie[bom_movie["domestic_gross"].isna()]
gross_domestic_empty

,title,studio,domestic_gross,foreign_gross,year
230,It's a Wonderful Afterlife,UTV,NaN,1300000,2010
298,Celine: Through the Eyes of the World,Sony,NaN,119000,2010
302,White Lion,Scre.,NaN,99600,2010
306,Badmaash Company,Yash,NaN,64400,2010
327,Aashayein (Wishes),Relbig.,NaN,3800,2010
537,Force,FoxS,NaN,4800000,2011
713,Empire of Silver,NeoC,NaN,19000,2011
871,Solomon Kane,RTWC,NaN,19600000,2012
928,The Tall Man,Imag.,NaN,5200000,2012
933,Keith Lemon: The Film,NaN,NaN,4000000,2012
936,"Lula, Son of Brazil",NYer,NaN,3800000,2012
966,The Cup (2012),Myr.,NaN,1800000,2012
1017,Dark Tide,WHE,NaN,432000,2012
1079,The Green Wave,RF,NaN,70100,2012
1268,22 Bullets,Cdgm.,NaN,21300000,2013
1308,Matru Ki Bijlee Ka Mandola,FIP,NaN,6000000,2013
1340,The Snitch Cartel,PI,NaN,2100000,2013
1342,All the Boys Love Mandy Lane,RTWC,NaN,1900000,2013
1368,6 Souls,RTWC,NaN,852000,2013
1659,Jessabelle,LGF,NaN,7000000,2014
1681,14 Blades,RTWC,NaN,3800000,2014
1685,Jack and the Cuckoo-Clock Heart,Shout!,NaN,3400000,2014
1739,Lila Lila,Crnth,NaN,1100000,2014
1975,Surprise - Journey To The West,AR,NaN,49600000,2015
2392,Finding Mr. Right 2,CL,NaN,114700000,2016
2468,Solace,LGP,NaN,22400000,2016
2595,Viral,W/Dim.,NaN,552000,2016
2825,Secret Superstar,NaN,NaN,122000000,2017

In [ ]:
gross_domestic_empty.shape

In [ ]:
#When doing line graph for domestic, drop foreign gross, else include all values

In [ ]:
foreign_gross_empty = bom_movie[bom_movie["foreign_gross"].isna()]
foreign_gross_empty

In [ ]:
foreign_gross_empty.shape

In [ ]:
#disregard this ^

In [ ]:
movie_info_tsv

In [ ]:
movie_info_tsv_rating = movie_info_tsv[movie_info_tsv["genre"].isna()]
movie_info_tsv_rating

In [ ]:
movie_info_tsv = movie_info_tsv.dropna(subset= ['genre'])

In [ ]:
#agreed to drop empty in "genre"

In [ ]:
movie_info_tsv

In [ ]:
movie_info_tsv_box_office = movie_info_tsv[movie_info_tsv["box_office"].isna()]

In [ ]:
movie_info_tsv_box_office

In [ ]:
title_basic

In [ ]:
title_basic_genres = title_basic[title_basic["genres"].isna()]
title_basic_genres

In [ ]:
title_crew

In [ ]:
title_crew_directors = title_crew[title_crew['directors'].isna()]
title_crew_directors

In [ ]:
title_principals

In [ ]:
title_principals.keys()

In [ ]:
tittle_ratings

In [ ]:
tittle_ratings_1 = tittle_ratings[tittle_ratings['numvotes'] < 10]
tittle_ratings_1

In [ ]:
#Possibly drop the data with "numvotes" being less than a certain amount

In [ ]:
tmbd_movies

In [ ]:
tmbd_movies_vote_count = tmbd_movies[tmbd_movies['vote_count'] == 1]
tmbd_movies_vote_count

In [ ]:
#decide which data to exclude, possibly remove 1 vote values

In [ ]:
movie_budgets

In [ ]:
movie_budgets["worldwide_gross"] = movie_budgets["worldwide_gross"].str.replace('$', '')
movie_budgets["domestic_gross"] = movie_budgets["domestic_gross"].str.replace('$', '')
movie_budgets["production_budget"] = movie_budgets["production_budget"].str.replace('$', '')
movie_budgets

In [ ]:
movie_budgets_domestic = movie_budgets[movie_budgets['domestic_gross'] == "0"]
movie_budgets_domestic

In [ ]:
movie_budgets_pitbull = movie_budgets[movie_budgets['worldwide_gross'] == "0"]
movie_budgets_pitbull

In [ ]:
name_basic

In [ ]:
#tie nconst with other data sets, these are actors/direc/writers, if we decide to correlate directors with earnings

In [ ]:
rt_reviews = pd.read_csv("./data/rt.reviews.tsv", error_bad_lines=False, )
rt_reviews