In [1]:
import pandas as pd

In [2]:
bom_movie = pd.read_csv("./data/bom.movie_gross.csv")

name_basic = pd.read_csv("./data/name.basics.csv") #nconst, primary profession, primary name
title_basic = pd.read_csv("./data/title.basics.csv") #use, start_year, tconst, title
title_crew = pd.read_csv("./data/title.crew.csv") #tconst, director, writer
title_principals = pd.read_csv("./data/title.principals.csv") #category actor, characters
tittle_ratings = pd.read_csv("./data/title.ratings.csv") #use this for ratings, tconst
title_akas = pd.read_csv("./data/title.akas.csv") #useless

movie_info_tsv = pd.read_csv("./data/rt.movie_info.tsv", sep = "\t") #use this, theater_date and release_data
rt_reviews = pd.read_csv("./data/rt.reviews.tsv", sep = "\t", encoding='windows-1252') #ratings, maybe use this merge

tmbd_movies = pd.read_csv("./data/tmdb.movies.csv") #yes, release date

movie_budgets = pd.read_csv("./data/tn.movie_budgets.csv") #need, release_data, gross, budget

In [4]:
movie_budgets['movie']=='MyDa'

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [ ]:
x = title_basic.merge(tittle_ratings, on="tconst")

In [ ]:
x = x.rename(columns={"primary_title":"movie"})

In [ ]:
title_crew = title_crew.rename(columns={"directors":"nconst"})

In [ ]:
name_director = title_crew.merge(name_basic, on="nconst")

In [ ]:
name_director

In [ ]:
imdb_df = x.merge(name_director, on="tconst")

In [ ]:
full_df = movie_budgets.merge(imdb_df, on="movie")

In [ ]:
df = imdb_df.merge(movie_budgets, on="movie")

In [ ]:
df

In [ ]:
full_df

In [ ]:
movie_budgets.head()

In [ ]:
title_basic = title_basic.rename(columns={'primary_title':"movie"})

In [ ]:
all_movies_df = movie_budgets.merge(title_basic, on="movie")

In [ ]:
all_movies_df

In [ ]:
Studio_empty = bom_movie[bom_movie["studio"].isna()]
Studio_empty

In [ ]:
#Doesnt matter if we dont know studio

In [ ]:
gross_domestic_empty = bom_movie[bom_movie["domestic_gross"].isna()]
gross_domestic_empty

In [ ]:
gross_domestic_empty.shape

In [ ]:
#When doing line graph for domestic, drop foreign gross, else include all values

In [ ]:
foreign_gross_empty = bom_movie[bom_movie["foreign_gross"].isna()]
foreign_gross_empty

In [ ]:
foreign_gross_empty.shape

In [ ]:
#disregard this ^

In [ ]:
movie_info_tsv

In [ ]:
movie_info_tsv_rating = movie_info_tsv[movie_info_tsv["genre"].isna()]
movie_info_tsv_rating

In [ ]:
movie_info_tsv = movie_info_tsv.dropna(subset= ['genre'])

In [ ]:
#agreed to drop empty in "genre"

In [ ]:
movie_info_tsv

In [ ]:
movie_info_tsv_box_office = movie_info_tsv[movie_info_tsv["box_office"].isna()]

In [ ]:
movie_info_tsv_box_office

In [ ]:
title_basic

In [ ]:
title_basic_genres = title_basic[title_basic["genres"].isna()]
title_basic_genres

In [ ]:
title_crew

In [ ]:
title_crew_directors = title_crew[title_crew['directors'].isna()]
title_crew_directors

In [ ]:
title_principals

In [ ]:
title_principals.keys()

In [ ]:
tittle_ratings

In [ ]:
tittle_ratings_1 = tittle_ratings[tittle_ratings['numvotes'] < 10]
tittle_ratings_1

In [ ]:
#Possibly drop the data with "numvotes" being less than a certain amount

In [ ]:
tmbd_movies

In [ ]:
tmbd_movies_vote_count = tmbd_movies[tmbd_movies['vote_count'] == 1]
tmbd_movies_vote_count

In [ ]:
#decide which data to exclude, possibly remove 1 vote values

In [ ]:
movie_budgets

In [ ]:
movie_budgets["worldwide_gross"] = movie_budgets["worldwide_gross"].str.replace('$', '')
movie_budgets["domestic_gross"] = movie_budgets["domestic_gross"].str.replace('$', '')
movie_budgets["production_budget"] = movie_budgets["production_budget"].str.replace('$', '')
movie_budgets

In [ ]:
movie_budgets_domestic = movie_budgets[movie_budgets['domestic_gross'] == "0"]
movie_budgets_domestic

In [ ]:
movie_budgets_pitbull = movie_budgets[movie_budgets['worldwide_gross'] == "0"]
movie_budgets_pitbull

In [ ]:
name_basic

In [ ]:
#tie nconst with other data sets, these are actors/direc/writers, if we decide to correlate directors with earnings

In [ ]:
rt_reviews = pd.read_csv("./data/rt.reviews.tsv", error_bad_lines=False, )
rt_reviews