In [3]:
# release_date = []
# movie = []
# production_budget = []
# domestic_gross = []
# worldwide_gross = []

# for i in range(1, 6002, 100):
#     url = f"https://www.the-numbers.com/movie/budgets/all/{i}"
#     html_page = requests.get(url)
#     soup = BeautifulSoup(html_page.content, 'html.parser')
#     titles.extend(retrieve_titles(soup))
#     star_ratings.extend(retrieve_ratings(soup))
#     prices.extend(retrieve_prices(soup))
#     avails.extend(retrieve_availabilities(soup))

# df = pd.DataFrame([release_date, movie, production_budget, domestic_gross, worldwide_gross]).transpose()
# df.columns = ['release_date', 'movie', 'production_budget', 'domestic_gross', 'worldwide_gross']

# df.head()

In [101]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [102]:
html_page = requests.get('https://www.the-numbers.com/movie/budgets/all/1') # Make a get request to retrieve the page
soup = BeautifulSoup(html_page.content, 'html.parser') # Pass the page contents to beautiful soup for parsing

In [103]:
# soup.prettify

In [104]:
# table = soup.find('table')

In [105]:
# table = soup.findAll('td')
# release_date = []
# for i in range(1, 600, 6):
#     release_date.append(table[i].find('a').text)
    
def retrieve_date(soup):
    table = soup.findAll('td')
    return [table[i].find('a').text for i in range(1, 600, 6)]

In [106]:
# movie = []
# for i in range(2, 600, 6):
#     movie.append(table[i].find('a').text)
    
def retrieve_movie(soup):
    table = soup.findAll('td')
    return [table[i].find('a').text for i in range(2, 600, 6)]

In [107]:
# production_budget = []
# for i in range(3, 600, 6):
#     production_budget.append(table[i].text[1:])
    
def retrieve_budget(soup):
    table = soup.findAll('td')
    return [table[i].text[1:] for i in range(3, 600, 6)]

In [108]:
# domestic_gross = []
# for i in range(4, 600, 6):
#     domestic_gross.append(table[i].text[1:])
    
def retrieve_dgross(soup):
    table = soup.findAll('td')
    return [table[i].text[1:] for i in range(4, 600, 6)]

In [109]:
# worldwide_gross = []
# for i in range(5, 600, 6):
#     worldwide_gross .append(table[i].text[1:])
    
def retrieve_wgross(soup):
    table = soup.findAll('td')
    return [table[i].text[1:] for i in range(5, 600, 6)]

In [110]:
release_date = []
movie = []
production_budget = []
domestic_gross = []
worldwide_gross = []

for i in range(1, 6002, 100):
    url = f"https://www.the-numbers.com/movie/budgets/all/{i}"
    html_page = requests.get(url)
    soup = BeautifulSoup(html_page.content, 'html.parser')
    release_date.extend(retrieve_date(soup))
    movie.extend(retrieve_movie(soup))
    production_budget.extend(retrieve_budget(soup))
    domestic_gross.extend(retrieve_dgross(soup))
    worldwide_gross.extend(retrieve_wgross(soup))

df = pd.DataFrame([release_date, movie, production_budget, domestic_gross, worldwide_gross]).transpose()
df.columns = ['release_date', 'movie', 'production_budget', 'domestic_gross', 'worldwide_gross']

df.head()

,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,"Apr 23, 2019",Avengers: Endgame,"$400,000,000","$858,373,000","$2,797,800,564"
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$379,000,000","$241,071,802","$1,045,713,802"
2,"Apr 22, 2015",Avengers: Age of Ultron,"$365,000,000","$459,005,868","$1,395,316,979"
3,"Dec 16, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,064,615,817"
4,"Apr 25, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,044,540,523"

In [111]:
len(df)

6100