# Data Mining
### Collecting data neccesary for the project

There is a total of eleven sets of data collected from:
1. Box Office Mojo
2. IMDB
3. Rotten Tomatoes
4. TheMovieDB
5. The Numbers.

#### Let's checkout the datasets and decide which ones to use in our project.

Exploring the folders and files in the repository:

In [8]:
!ls

CONTRIBUTING.md                   Untitled.ipynb
DS_Project_Presentation.pdf       data
Data Cleanup.ipynb                data-mining-movies.ipynb
LICENSE.md                        dsc-phase1-project-template.ipynb
README.md                         images
TEMPLATE_README.md

In [9]:
!ls data

bom.movie_gross.csv  title.akas.csv       title.ratings.csv
name.basics.csv      title.basics.csv     tmdb.movies.csv
rt.movie_info.tsv    title.crew.csv       tn.movie_budgets.csv
rt.reviews.tsv       title.principals.csv zippedData

In [10]:
!ls data/zippedData

bom.movie_gross.csv.gz       imdb.title.ratings.csv.gz
imdb.name.basics.csv.gz      rt.movie_info.tsv.gz
imdb.title.akas.csv.gz       rt.reviews.tsv.gz
imdb.title.basics.csv.gz     tmdb.movies.csv.gz
imdb.title.crew.csv.gz       tn.movie_budgets.csv
imdb.title.principals.csv.gz tn.movie_budgets.csv.gz

In [11]:
import pandas as pd

In [12]:
import os
files = [file for file in os.listdir('./data/zippedData')]
names = ['dataset_'+str(i+1) for i in range(11)]

In [13]:
files

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'tn.movie_budgets.csv',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

Creating a dictionary of the datasets with names as keys and dataframe as values:

In [17]:
list_of_datasets = {}

for name, dataset in zip(names, files):
    if name == names[5] or name == names[7] or name == names[3]:
        continue
        # list_of_datasets[dataset] = pd.read_csv('./data/zippedData/'+file, compression='gzip', delimiter='\t')
        # line of above code does not work to open the tsv file
    else:
        list_of_datasets[name] = pd.read_csv('./data/zippedData/'+dataset, compression='gzip')

BadGzipFile: Not a gzipped file (b'id')

In [15]:
def summarize_dataset(name, dataset):
    """
    Function that takes in the items of the dictionary of datasets.
    Prints a summary of each dataframe's rows and columns.
    Displays both the first five rows and last five rows of the dataframe.
    """
    print(f'This is {name.upper()} with a shape of: {dataset.shape}. Below is a table of the first and last rows.')
    display(pd.concat([dataset.head(5), dataset.tail(5)]))
    print('Below is a list of the columns and their datatypes:')
    display(dataset.dtypes)
    print(f'End of summary for {name.upper()}.\n')

In [18]:
# Use the function in our dictionary of datasets

for name, dataset in list_of_datasets.items():
    summarize_dataset(name, dataset)

This is DATASET_1 with a shape of: (146144, 3). Below is a table of the first and last rows.

           tconst                      directors              writers
0       tt0285252                      nm0899854            nm0899854
1       tt0438973                            NaN  nm0175726,nm1802864
2       tt0462036                      nm1940585            nm1940585
3       tt0835418                      nm0151540  nm0310087,nm0841532
4       tt0878654  nm0089502,nm2291498,nm2292011            nm0284943
146139  tt8999974                     nm10122357           nm10122357
146140  tt9001390                      nm6711477            nm6711477
146141  tt9001494          nm10123242,nm10123248                  NaN
146142  tt9004986                      nm4993825            nm4993825
146143  tt9010172                            NaN            nm8352242

Below is a list of the columns and their datatypes:

tconst       object
directors    object
writers      object
dtype: object

End of summary for DATASET_1.

This is DATASET_2 with a shape of: (26517, 10). Below is a table of the first and last rows.

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
26512,26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

Below is a list of the columns and their datatypes:

Unnamed: 0             int64
genre_ids             object
id                     int64
original_language     object
original_title        object
popularity           float64
release_date          object
title                 object
vote_average         float64
vote_count             int64
dtype: object

End of summary for DATASET_2.

#### For more information, call on the name of the dataset in the dictionary.
There are empty cells below for us to explore the dataframes.

In [73]:
list_of_datasets.keys()

dict_keys(['dataset_1', 'dataset_2', 'dataset_3', 'dataset_4', 'dataset_5', 'dataset_7', 'dataset_9', 'dataset_10', 'dataset_11'])

In [77]:
list_of_datasets['dataset_1'].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   tconst     146144 non-null  object
 1   directors  140417 non-null  object
 2   writers    110261 non-null  object
dtypes: object(3)
memory usage: 3.3+ MB

In [79]:
list_of_datasets['dataset_2'].describe()

        Unnamed: 0             id    popularity  vote_average    vote_count
count  26517.00000   26517.000000  26517.000000  26517.000000  26517.000000
mean   13258.00000  295050.153260      3.130912      5.991281    194.224837
std     7654.94288  153661.615648      4.355229      1.852946    960.961095
min        0.00000      27.000000      0.600000      0.000000      1.000000
25%     6629.00000  157851.000000      0.600000      5.000000      2.000000
50%    13258.00000  309581.000000      1.374000      6.000000      5.000000
75%    19887.00000  419542.000000      3.694000      7.000000     28.000000
max    26516.00000  608444.000000     80.773000     10.000000  22186.000000

## To Do: 
Open the two remaining files and extract its contents.

In [81]:
files[5]

'rt.reviews.tsv.gz'

In [82]:
files[7]

'rt.movie_info.tsv.gz'

In [83]:
# I was unable to open this tsv format even after specifiying the delimiter as \t
# Help figure out how to read it to csv and turn into dataframe